#Contact {
	text-align: center;
}

footer {
	padding-left: 20px;
	text-align: left
}

#Gap {
	background-color: black;
	height: 50px;
}

header {
	background-color: black;
	border: 1px;
	border-color: white;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	border-top: 0px;
	height: 69px;
	padding-top: 10px;
	position: fixed;
	top: 0;
	width: 100%;
}

header img {
	text-align: left;
}

html {
	background-color: black;
	color: seashell;
	font-family: Helvetica;
	font-size: 22px;
	text-align: center;
}

#Locations {
	background-image: url("Locations.jfif");
	height: 500px;
	text-align: center;
}

#MissionStatement {
	background-image: url("Background.jfif");
	background-position: center;
	background-repeat: no-repeat;
	height: 700px;
}

#MissionStatementText {
	background-color: black;
	display: inline-block;
	margin-top: 25%;
	width: 100%;
}

nav #Logo {
	height: 50px;
	padding-left: 10px;
	text-align: left;
	justify-content: left;
	// margin-right: 50%;
}

#TeaOfTheMonth {
	text-align: center;
}

#TeaOfTheMonth figcaption {
	padding-top: 10px;
}

#TeaOfTheMonth img {
	height: 200px;
	width: 300px;
}