#Contact {
	height: 200px;
}

footer {
	padding-left: 20px;
	text-align: left
}

#Gap {
	background-color: black;
	height: 50px;
}

header {
	background-color: black;
	border: 1px;
	border-color: white;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	border-top: 0px;
	height: 69px;
	padding-top: 10px;
	position: fixed;
	top: 0;
	width: 100%;
}

header img {
	text-align: left;
}

html {
	background-color: black;
	color: seashell;
	font-family: Helvetica;
	font-size: 22px;
	text-align: center;
}

#Locations {
	background-image: url("Locations.jfif");
	height: 500px;
	padding-top: 50px;
	text-align: center;
	vertical-align: center;
}

.LocationBox {
	background-color: black;
	border: 1px;
	border-color: seashell;
	border-style: solid;
	display: inline-block;
	margin: 5px 20px;
	opacity: 1;
	width: 300px;
}

#MissionStatement {
	background-image: url("Background.jfif");
	background-position: center;
	background-repeat: no-repeat;
	height: 700px;
}

#MissionStatementText {
	background-color: black;
	display: inline-block;
	margin-top: 25%;
	width: 100%;
}

nav {
	display: inline;
	width: 100%;
}

nav a {
	display: inline-block;
	float: right;
	padding-right: 10px;
}

nav a:active {
	color: seashell;
}

nav a:hover {
	color: pink;
}

nav a:visited {
	color: seashell;
}

nav #Logo {
	float: left;
	height: 50px;
	padding-left: 10px;
	text-align: left;
}

nav li {
	list-style: none;
	padding: 10px 10px;
}

#Teas img {
	height: 200px;
	width: 300px;
}

#TR1 {
	display: flex;
	justify-content: center;
}

#TR2 {
	display: flex;
	justify-content: center;
}